body {
  background: linear-gradient(180deg, #030000 0, #333633 30%, #030000 100%);
}
html,body, main {
  width: 100%;
  height: 100%;
}
main {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}