.galaxy-box
  width 500px
  height 500px
  // border 1px solid skyblue
  perspective 500px
  div
    transform-style preserve-3d
  ul
    position relative
    height 100%
    transform-style preserve-3d
  li 
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    border-radius 50%
    transform-style preserve-3d
    &::after
      content ''
      display block
      padding-top 100%
    div 
      border 2px solid rgba(255, 255, 255, .5)
      width 100%
      height 100%
      position absolute
      transform-style: preserve-3d
      border-radius 50%
      animation: RingRotate linear 5s infinite

@keyframes RingRotate {
  from {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) 
  }
  to {
    transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg) 
  }
}