@import '../../assets/common'

html,body
  height 100%;
  background-color #f8f8f8

.page, #__next
  height 100%

.head,
.bar-wrap,
.list
  background-color #fff
  box-shadow 1px 1px 0 rgba(0,0,0,.06)

.head
  height 48px
  line-height 48px
  padding: 0 50px;
  display flex
  justify-content: space-between
  input
    border 1px solid #ddd
    background-color #fafafa
    outline: none
    height 32px
    line-height 32px
    margin-top 6px

.main
  padding-top 20px
  margin 0 auto
  width 1100px
  display flex
  .bar
    flex 0 0 200px
    min-height 400px
    margin-right 20px
  .list
    flex 1 1 700px

